/* Section Separator */
.section-separator {
    width: 100%;
    position: relative;
    z-index: 10;
    line-height: 0;
    pointer-events: none;
    margin-top: -1px;
    /* Avoid gap lines */
}

.section-separator img {
    width: 100%;
    height: auto;
    display: block;
}